<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>Contact</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="col-lg-6 wow animated pulse">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">Office:</h4>
                    </div>
                    <div class="panel-body">
                        Computer Science and Engineering, <br /> 225 ENB, <br /> University of South Florida, <br /> Tampa, FL.
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow animated pulse">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">Phone:</h4>
                    </div>
                    <div class="panel-body">
                        (785) 320-0857
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow animated pulse">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">E-mail:</h4>
                    </div>
                    <div class="panel-body">
                        fwei AT mail DOT usf DOT edu
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>